<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <title>Relatório Mensal</title>
  <!-- <style> {{ stylesheet }}</style> -->
</head>
<body>

<header>
<h1>Relatório Financeiro referente a {{mês}} </h1>
<p>Gerado automaticamente em {{data}} às {{hora}}</p>
</header>

<section>
<h2>Receitas e Despesas por categoria:</h2>
{{ tabela1 }}
</section>

<section>
<h2>Distribuição das maiores receitas:</h2>
{{ tabela2 }}
</section>

    
</body>
